@{
    ViewData["Title"] = "Alumnos";
}

<div class="">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Ingrese aquí la información relevante de los alumnos.</p>

    <p>Aqui va el form</p>
</div>
